/Ejer13_IntroJava/nbproject/private/
/Ejer13_IntroJava/build/
/ManosALaObra11/nbproject/private/
/ManosALaObra11/build/
/Ejer14_IntroJava/nbproject/private/
/Ejer14_IntroJava/build/
/Ejer15_IntroJava/nbproject/private/
/Ejer15_IntroJava/build/
/Ejer16_IntroJava/nbproject/private/
/Ejer16_IntroJava/build/
/Ejer17_IntroJava/nbproject/private/
/Ejer17_IntroJava/build/
/Ejer18_IntroJava/nbproject/private/
/Ejer18_IntroJava/build/
/Ejer19_IntroJava/nbproject/private/
/Ejer19_IntroJava/build/
/Ejer20_IntroJava/nbproject/private/
/Ejer20_IntroJava/build/
/Ejer21_IntroJava/nbproject/private/
/Ejer21_IntroJava/build/